**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.lock.info
**/tfplan

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock.info
tfplan

# CLI and IDE specific files
.idea/
.zed/
.ropeproject/

# Miscellaneous
NOTES.md
.rulebricks-state.yaml
rulebricks.yaml
